.resimslider{
    height: 600px;
}

body{
    padding-top: 50px;
    font-family: 'Raleway' , sans-serif;
}

.hakkimizda{
    background-color: f2f2f2;
}

.ayrac{
    border-top: 3px solid #343a48;
}

.ibeyaz{
    color: #343a48;
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px solid f2f2f2;
    background-color: f2f2f2;
}

.ekipCard>img:hover{
    opacity: 0.8;
}